[submodule "Demo3/Complete/remote-wiring"]
	path = Demo3/Complete/remote-wiring
	url = https://github.com/JAgostoni/remote-wiring

[submodule "Demo4/Complete/remote-wiring"]
	path = Demo4/Complete/remote-wiring
	url = https://github.com/JAgostoni/remote-wiring

[submodule "Demo4/Starter/remote-wiring"]
	path = Demo4/Starter/remote-wiring
	url = https://github.com/JAgostoni/remote-wiring

[submodule "Demo6/Starter/remote-wiring"]
	path = Demo6/Starter/remote-wiring
	url = https://github.com/JAgostoni/remote-wiring